<template>
    <div class="shape">
        <div class="header">
            <div class="dateView">
                <p class="dateText">November 2021</p>
                <svg class="dateDropdown" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M7 10L12 15L17 10H7Z" />
                </svg>
                <div style="position: relative;">
                    <marble-dropdown left="-70" top="16"></marble-dropdown>
                </div>
            </div>
            <div class="monthPicker">
                <svg class="previousMonth picker" xmlns="http://www.w3.org/2000/svg" width="7" height="10"
                    viewBox="0 0 7 10" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M6.82503 1.175L5.65003 0L0.650024 5L5.65003 10L6.82503 8.825L3.00836 5L6.82503 1.175Z" />
                </svg>
                <svg class="nextMonth picker" xmlns="http://www.w3.org/2000/svg" width="7" height="10"
                    viewBox="0 0 7 10" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M2.00007 0L0.825073 1.175L4.64174 5L0.825073 8.825L2.00007 10L7.00007 5L2.00007 0Z" />
                </svg>
            </div>
        </div>
        <div class="content">
            <div class="days">
                <p class="day">M</p>
                <p class="day">T</p>
                <p class="day">W</p>
                <p class="day">T</p>
                <p class="day">F</p>
                <p class="day">S</p>
                <p class="day">S</p>
            </div>
            <div class="dates"></div>
        </div>
    </div>
</template>