<template>
    <div class="box">
        <div class="shape">
            <div class="loading"></div>
            <h2 class="header">
                Login
            </h2>
            <marble-label-input class="username inputSpacing" label="Username"></marble-label-input>
            <marble-label-input class="password" type="password" label="Password"></marble-label-input>
            <a class="link" href="#">Forgot your password?</a>
            <marble-button text="Login"></marble-button>
            <div class="redirect">
                <p>Need an accout? </p><a href="#" class="register">Register</a>
            </div>
        </div>
    </div>
</template>