main {
    display: flex;
    margin: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    width: 100%;
    justify-content: center;
    display: flex;
    height: 100%;
}

marble-usercard {
    margin-bottom: 20px;
}