main {
    display: flex;
    margin: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

marble-usercard {
    margin-bottom: 20px;
}

marble-attendance {
    margin-bottom: 15px;
}